{
  "presets": [ "babel-preset-expo" ],
  "env": {
    "development": {
      "plugins": [ "transform-react-jsx-source" ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [ "./libs" ],
        "alias": {
          "xmui": "libs/xmui/native",
          "xmui/common": "libs/xmui/common",
          "xmui/native": "libs/xmui/native"
        }
      }
    ]
  ]
}
