<?xml version="1.0"?>
<!--
  Další informace o konfiguraci aplikace ASP.NET najdete na webu
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <!--
    Popis změn souboru web.config naleznete na adrese http://go.microsoft.com/fwlink/?LinkId=235367.

    Ve značce <httpRuntime> lze nastavit následující atributy.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <!--
    https://www.iis.net/downloads/microsoft/url-rewrite
    https://stackoverflow.com/questions/12614072/how-do-i-configure-iis-for-url-rewriting-an-angularjs-application-in-html5-mode
    -->
    <rewrite>
      <rules>
        <rule name="web_app_html">
          <match url="^web-app\.html" />
          <action type="Rewrite" url="/web-app.html" />
        </rule>
      </rules>
    </rewrite>
    <!--<handlers>
      <add type="Index.Handler" name="IndexHandler" path="web-app*" verb="GET"/>
    </handlers>-->
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
</configuration>